
@{
    ViewBag.Title = "About";
}

<main>
    <div class="aboutbox">
        <h2 class="place">您现在的位置是：网站首页> <a href="/">关于我</a></h2>
        <div class="abinfos">
            <h3>关于我</h3>
            <p>杰克马</p>
            <p>1988年毕业于杭州师范学院外语系，同年担任杭州电子工业学院英文及国际贸易教师，1995年创办中国第一家互联网商业信息发布网站“中国黄页”，1998年出任中国国际电子商务中心国富通信息技术发展有限公司总经理，1999年创办阿里巴巴，并担任阿里集团CEO、董事局主席。 </p>
            <p>2013年5月10日，辞任阿里巴巴集团CEO，继续担任阿里集团董事局主席。6月30日，当选全球互联网治理联盟理事会联合主席。10月受邀出任英国首相戴维·卡梅伦的特别经济事务顾问。2016年5月8日，任中国企业家俱乐部主席。</p>
            <p> <img class="readimg" src="~/Content/mycontent/images/mayun.png" /></p>
            <p>2017年10月28日，在个人微博上公布了一张电影海报，并配以大有深意的“那一夜，那一梦”六个字，证实参演影片《功守道》。</p>
            <p>2017年12月15日，荣获“影响中国”2017年度教育人物。</p>
            <p>2018年1月17日，以个人名义向团结香港基金捐赠5000万港元，以支持教育、青年、创新等领域的政策研究和相关工作。2018年5月，获颁香港大学名誉社会科学博士。同年10月，以2700亿元人民币财富位居2018年胡润百富榜第一位。</p>
            <p>2019年9月10日，将不再担任集团董事局主席，由CEO张勇接任。</p>
            <p>&nbsp;</p>
            <br />
            <h3>欢迎联系我</h3>
            <p>邮 箱：123456789@wust.com</p>
            <p>电 话：123456789121</p>
        </div>
    </div>
</main>
@Html.Action("Table")

