@{ 
    Layout = "~/Views/Shared/Base_Layout.cshtml";
}
<ul class="sidenews">
    <h2>点击排行</h2>
    @for (int i = 0; i < 5; i++)
    {
        <li>
            <i><img src="~/Content/images/1.jpg"></i>
            <p><a href="/">标题标题标题</a></p>
            <span>2018-05-13</span>
        </li>
    }

</ul>